.Card {
    display: flex;
    flex-direction: column;
    background-color: #991818;
    color: white;
    width: 550px;
    margin-left: 75px;
    justify-content: space-around;
    height: 450px;
    border-radius: 20px;
}

.cardContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

